---
import ExtraSkillCard from "./ExtraSkillCard.astro";
import {
  siSpring,
  siMysql,
  siIcloud,
  siGit,
  siGithub,
  siClaude,
} from "simple-icons";
---

<div
  id="extra-skills-cards"
  class="flex flex-row gap-8 justify-center items-stretch"
>
  <ExtraSkillCard
    icon={siSpring}
    title="Spring"
    dataI18nTitle="skills.extra_spring"
    iconColor="#6DB33F"
  />

  <ExtraSkillCard
    icon={siMysql}
    title="MySQL"
    dataI18nTitle="skills.extra_mysql"
    iconColor="#4479A1"
  />
  <ExtraSkillCard
    icon={siIcloud}
    title="Servicios Web"
    dataI18nTitle="skills.extra_web"
    iconColor="#3693F3"
  />

  <ExtraSkillCard
    icon={siGit}
    title="Git"
    dataI18nTitle="skills.extra_git"
    iconColor="#F05032"
  />

  <ExtraSkillCard
    icon={siGithub}
    title="Power BI"
    dataI18nTitle="skills.extra_powerbi"
    iconColor="#181717"
  />

  <ExtraSkillCard
    icon={siClaude}
    title="Asistentes de IA"
    dataI18nTitle="skills.extra_ai"
    iconColor="#D97757"
  />
</div>
