---
import SkillCardSimple from "./SkillCardSimple.astro";
import {
  siSpring,
  siMysql,
  siIcloud,
  siGit,
  siGithub,
  siClaude,
} from "simple-icons";
---

<div id="extra-skills-cards" class="skills-grid">
  <SkillCardSimple
    icon={siSpring}
    title="Spring"
    dataI18nTitle="skills.extra_spring"
  />

  <SkillCardSimple
    icon={siMysql}
    title="MySQL"
    dataI18nTitle="skills.extra_mysql"
  />
  <SkillCardSimple
    icon={siIcloud}
    title="Servicios Web"
    dataI18nTitle="skills.extra_web"
  />

  <SkillCardSimple icon={siGit} title="Git" dataI18nTitle="skills.extra_git" />

  <SkillCardSimple
    icon={siGithub}
    title="Power BI"
    dataI18nTitle="skills.extra_powerbi"
  />

  <SkillCardSimple
    icon={siClaude}
    title="Asistentes de IA"
    dataI18nTitle="skills.extra_ai"
  />
</div>
