---
import SkillCardSimple from "./SkillCardSimple.astro";
import {
  siLaravel,
  siAstro,
  siJavascript,
  siTailwindcss,
  siReact,
  siPython,
} from "simple-icons";
---

<div id="hard-skills-cards" class="skills-grid">
  <SkillCardSimple
    icon={siLaravel}
    title="Laravel"
    description="Experiencia en Laravel para crear APIs, paneles administrativos y sistemas con autenticación segura y buenas prácticas."
  />

  <SkillCardSimple
    icon={siAstro}
    title="Astro"
    description="Experiencia en Astro para crear sitios rápidos, optimizados y con una arquitectura enfocada en rendimiento y escalabilidad."
  />

  <SkillCardSimple
    icon={siJavascript}
    title="JavaScript"
    description="Experiencia en JavaScript para desarrollar funciones interactivas, dinámicas y enfocadas en la experiencia del usuario."
  />

  <SkillCardSimple
    icon={siTailwindcss}
    title="Tailwind CSS"
    description="Experiencia en Tailwind CSS para crear interfaces consistentes, rápidas y con un flujo de desarrollo eficiente."
  />

  <SkillCardSimple
    icon={siReact}
    title="React"
    description="Experiencia en React para desarrollar componentes modulares, reutilizables"
  />

  <SkillCardSimple
    icon={siPython}
    title="Python"
    description="Experiencia en Python para automatizar procesos, analizar datos y experimentar con herramientas de IA."
  />
</div>
